
<div class="container">
  <div class="nav-bar">
      <div class="search-bar">
            <input type="text" [(ngModel)]="searchValue" placeholder="Search..." >
      </div>
  </div>
  <div class="content">
    <div>
      <table >
        <thead >
          <tr>
            <th>Categories</th>
          </tr>
        </thead>
        <tbody>
          <tr  *ngFor="let cat of categories | filter : searchValue">
            <td>{{cat}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    
      
  </div>
</div>

<router-outlet></router-outlet>
